<div style="height: 100vh">
  <mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/">
      <span>Reactive Form Form Array</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/multistep">MultiStep Form</a>
      <a mat-button routerLink="/formarray">FormArray</a>
      <a mat-button routerLink="/nestedformarray">Nested FormArray</a>
      <a mat-button routerLink="/product">Product Variant</a>
      <a mat-button routerLink="/multiple-checkboxes">Multiple Checkboxes</a>
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>

  <!-- <h1 style="margin: 20px 0 0 50px">Pipe {{ AsyncData | async }}</h1>
  <h1 style="margin: 20px 0 0 50px">Observable {{ Count | async }}</h1> -->
</div>

<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="">Reactive Form and FormArray</span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/about-us">About us</a>
      <a mat-button routerLink="/prices">Prices</a>
      <a mat-button routerLink="/start-page">Start page</a>
      <a mat-button routerLink="/offer">Offer</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>

    <button mat-raised-button color="warn" routerLink="formarray">
      Form Array
    </button>
    <button mat-raised-button color="accent" routerLink="multistep">
      Multi Step
    </button>
  </mat-toolbar-row>
</mat-toolbar> -->
