.companyName {
  font-size: 120%;
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 90%;
  white-space: normal;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-elevation-z8 {
  width: 1200px;
  margin: 20px auto;
}
